{% load i18n %}

<div class="modal fade" id="modal-orcid-info" tabindex="-1" role="dialog" aria-labelledby="modal-orcid-info"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">ORCID&reg; iD</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
              {% include 'elements/orcid_info_content.html' %}
            </div>
        </div>
    </div>
</div>
