{% load static from staticfiles %}

<p>
    {% for author in article.frozenauthor_set.all %}
        {% if forloop.last %}
            {% if article.frozenauthor_set.all|length > 1 %} and{% endif %}
        {% endif %}
        {{ author.full_name }}
        {% if author.orcidUrl %}
	    <a href="{{ author.orcidUrl }}" target="_blank" ><img class="orcid-id-logo" src="{% static "common/img/icons/orcid_16x16.png" %}" alt="ORCID iD" /></a>
        {% endif %}
        {% if not forloop.last %}
            {% if not forloop.counter == article.frozenauthor_set.all|length|add:-1 %},
            {% endif %}
        {% endif %}
    {% endfor %}
</p>
