{% extends "core/base.html" %}
{% load i18n %}
{% load recaptcha2 %}
{% load socialaccount %}
{% load static from staticfiles %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block css %}
<style>
    .login {
        margin-top: 40px;
        margin-bottom: 40px;
    }
</style>
{% endblock css %}

{% block head %}
    {% recaptcha_init %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns login">

            <form method="POST">
                {% include "common/elements/static-error-messages.html" with form=form %}
                {% csrf_token %}
                <div class="callout">
                    <div class="row column log-in-form">
                        {% if settings.ENABLE_ORCID %}
                        <h4 class="text-center">{% trans "Log in with your account" %}</h4>
                        <p class="text-center">
                            <a class="connect-orcid-link" href="{% provider_login_url "orcid" next=request.path %}"><img class="orcid-id-logo" src="{% static "common/img/icons/orcid_16x16.png" %}" width='16' height='16' alt="ORCID iD icon"/>{% trans "Register or Connect your ORCID iD" %}</a><br/>
                            <a class="help-text" href="#" data-open="modal-orcid-info">{% trans "More information about ORCID." %}</a>
                        </p>
                        {% endif %}
                        <label>{% trans form.fields.user_name.label %}</label>
                            {{ form.user_name }}
                        <label>{% trans form.user_pass.label %}</label>
                            {{ form.user_pass }}
                        <br />
                        {{ form.captcha }}
                        <br />
                        <p><button type="submit" class="button expanded">{% trans "Log in" %}</button></p>
                        <p class="text-center"><a href="{% url 'core_get_reset_token' %}">{% trans "Forgotten your password?" %}</a></p>
                        <p class="text-center"><a href="{% url 'core_register' %}">{% trans "Register a new account" %}</a></p>
                    </div>
                </div>
            </form>

        </div>
    </div>

    {% include 'elements/orcid_info.html' %}

{% endblock body %}

{% block js %}
  <script src="{% static "common/js/orcid_sandbox_signout.js" %}"></script>
{% endblock %}
